*{
    margin: 0.5px;
    padding: 0px;
}
#navbar{
    border: 1px solid red;
    height: 80px;
}
#middle{
    width: 100%;
    height: auto;
    border: 1px solid rgb(43, 111, 221);
}
#ca{
    height:auto;
    border: 1px solid red;
}

#box{
    width: 60%;
    border: 1px solid rgb(24, 227, 95);
    margin: auto;
}
#box1{
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    border: 1px solid red;
}
 
.inBox>img{
    width: 100%;
}
#basket,#sellers{
    width: 100%;

}
#bask-head, #sellers-head{
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 70px;
}
#bask-head>button, #sellers-head>button{
    height: 20px;
    position: absolute;
    right: 20%;
}
.b{
    margin: auto;  
}
#basket-main, #sellers-main{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

.carousel-inner>img {
width: 100%;
height: 100%;
}
#demo{
height: 100%;
width: 100%;
}
#abc{
border: 1px solid red;
width: 100%;
}