#inner {
    width: 300px;
    height: 550px;
    margin: auto;
    text-align: center;
    font-family: Roboto, sans-serif;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #head {
    margin-top: 0px;
    /* border: 1px solid black; */
  }
  h3 {
    margin-top: 30px;
    color:  #90d12e;
    /* border: 1px solid black; */
    display: block;
  }
  #logo {
    width: 60%;
    height: 15%;
    /* border: 1px solid black; */
    margin: auto;
  }
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  #mobile {
    width: 80%;
    height: 25px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  #email {
    width: 80%;
    height: 25px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  #name {
    width: 80%;
    height: 25px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  #password {
    width: 80%;
    height: 25px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
  }
  #two {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color:  #90d12e;
    color: white;
    border: none;
    font-weight: light-bold;
    font-size: 15px;
  }

  p {
    font-size: 8px;
    position: relative;
    font-weight: lighter;
    color: #333333;
    font-family: sans-serif;
    line-height: 15px;
  }
  a {
    color: royalblue;
    font-weight: bold;
    text-decoration: none;
  }
  span {
    font-size: 12px;
    margin-top: 50px;
    color: gray;
  }